{% load static %}
{% load i18n %}
{% block team %}
    <section id="team" class="team section light-background">
        <div class="container section-title" data-aos="fade-up">
            <h2>{% trans "Our Businesses" %}</h2>
            <p>
                <span>{% trans "Meet" %}</span> <span class="description-title">{% trans "Our Businesses" %}</span>
            </p>
        </div>
        <div class="container">
            <div class="row gy-4">
                {% for partner in partners %}
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch"
                         data-aos="fade-up"
                         data-aos-delay="100">
                        <div class="team-member">
                            <a href="{{ partner.link }}">
                                <div class="member-img">
                                    <img src="{{ partner.image.url }}" class="img-fluid" alt="">
                                </div>
                            </a>
                            <div class="member-info text-start">
                                <h4>{{ partner.get_name }}</h4>
                                <span>{{ partner.get_description }}</span>
                                <hr class="text-black" />
                                <p>
                                    <b>{% trans "Address: " %}</b> {{ partner.get_address }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock team %}
