{% load static %}

{% block team %}
    <section id="team" class="team section light-background">
        <div class="container section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p><span>Meet Our</span> <span class="description-title">Team</span></p>
        </div>
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'images/team-1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <p>Leading with vision and innovation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'images/team-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Sarah Johnson</h4>
                            <span>Lead Designer</span>
                            <p>Creating stunning and user-friendly designs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'images/team-3.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>James Smith</h4>
                            <span>Lead Developer</span>
                            <p>Building robust and scalable solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock team %}
