{% load static %}

{% block about %}
    <section id="about" class="about section light-background">
        <div class="container section-title" data-aos="fade-up">
            <h2>About</h2>
            <p><span>Discover</span> <span class="description-title">Our Story</span></p>
        </div>
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static 'images/about.jpg' %}" alt="About" class="img-fluid">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="about-content ps-0 ps-lg-3">
                        <h3>Innovative Solutions for Modern Businesses</h3>
                        <p class="fst-italic">We are a team dedicated to delivering high-quality web solutions tailored
                            to your needs.</p>
                        <ul>
                            <li>
                                <i class="bi bi-diagram-3"></i>
                                <div>
                                    <h4>Custom Web Development</h4>
                                    <p>Building scalable and secure websites with cutting-edge technology.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bi bi-fullscreen-exit"></i>
                                <div>
                                    <h4>Creative Design Solutions</h4>
                                    <p>Designing visually appealing and user-friendly interfaces.</p>
                                </div>
                            </li>
                        </ul>
                        <p>Our mission is to empower businesses with robust digital solutions. We combine creativity and
                            technology to deliver exceptional results.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock about %}