{% load static %}

{% block hero %}
    <section id="hero" class="hero section light-background">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h1>Welcome to <span>BizLand</span></h1>
                    <p>Crafting innovative websites with Bootstrap and Django</p>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started">Get Started</a>
                        <a href="#services" class="btn-learn-more ms-3">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock hero %}