{% load i18n %}
{% load static %}
{% load custom_tags %}
<header id="header" class="header sticky-top">
    <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="{% url 'pages:index' %}"
               class="logo d-flex align-items-center justify-content-between">
                <img src="{% static 'images/toin_logo/logo.png' %}"
                     alt="toin_vn_logo"
                     class="img-fluid">
                <p class="h3">TOIN VIETNAM</p>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    {% is_locale_root request.path as locale_root %}
                    {% if not locale_root %}
                        <li class="nav-item">
                            <a class="nav-link" data-section="about" href="">{% trans 'About Us' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-section="services" href="">{% trans 'Features' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-section="portfolio" href="">{% trans 'Portfolio' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-section="team" href="">{% trans 'Our Businesses' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-section="contact" href="">{% trans 'Contact' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'pages:index' %}">{% trans 'Home' %}</a>
                        </li>
                    {% endif %}
                    <!-- Dropdown for Others -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarOthersDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{% trans 'Others' %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarOthersDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'converter:index' %}">{% trans 'PDF - Converter' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'pages:blog_list' %}">{% trans 'Blog' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'pages:recruiter' %}">{% trans 'Career' %}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Divider -->
                    <li class="nav-item me-3">
                        <span class="vr"></span> <!-- Bootstrap vertical rule -->
                    </li>
                    <!-- Language switch -->
                    <li class="nav-item ms-3 ms-md-0">
                        <div class="btn-group lang-switch"
                             role="group"
                             aria-label="Language switch">
                            <button type="button"
                                    class="btn {% if request.LANGUAGE_CODE == 'vi' %}active{% endif %}"
                                    data-lang="vi">VI</button>
                            <button type="button"
                                    class="btn {% if request.LANGUAGE_CODE == 'jp' %}active{% endif %}"
                                    data-lang="jp">JP</button>
                            <button type="button"
                                    class="btn {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}"
                                    data-lang="en">EN</button>
                        </div>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </div>
</header>
{% block script %}
    <script src="{% static 'js/custom/lang-switch.js' %}"></script>
    <script src="{% static 'js/custom/custom-header.js' %}"></script>
    <script>
        // Make text of ul li uppercase
        document.addEventListener('DOMContentLoaded', function () {
            // Select all relevant text elements inside #navmenu
            const navLinks = document.querySelectorAll(
                '#navmenu a, #navmenu .dropdown-item, #navmenu .btn-group.lang-switch button'
            );

            navLinks.forEach((link) => {
                // Convert visible text to uppercase
                link.textContent = link.textContent.toUpperCase();
            });
        });

        // Make the header floating when scrolling down
        window.addEventListener('scroll', function () {
            const header = document.getElementById('header');
            if (window.scrollY > 0) {
                header.classList.add('floating-header');
            } else {
                header.classList.remove('floating-header');
            }
        });
    </script>
{% endblock script %}
